# Arquivos e pastas Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Ambiente virtual
venv/
.env/
.venv/
env/

# Arquivos de saída do PyInstaller
dist/
build/
*.spec

# Arquivos temporários de sistema
.DS_Store
Thumbs.db

# Arquivos de IDEs
.vscode/
.idea/

# Logs e temporários
*.log
*.tmp
